
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: #562310;
    position: relative;
    }

.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 3%;
    width: 100%;
    z-index: 1;
    text-shadow: 2px 2px 3px black;
    }

.navbar-nav li:hover {
    background-color: #391001;
    border-radius: 5px;
    transition: 0.3s ease;
    }

.navbar-nav {
    position: fixed;
    right: 1px;
    }

.navbar-brand {
    position: fixed;
    left: 5px;
}

.video-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    }

#video-bg {
    height: 100%;
}

@media (max-width: 991px) {
    .navbar-nav {
        position: relative;
        background-color: #391001ad;
        padding: 5px;
        }

    .navbar-brand {
        position: relative;
    }
    .video-container {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        }
}
@media (max-width: 370px) {
    .text-logo {
        display: none;
    }
}

.main-content {
    position: fixed;
    top: 22%;
    right: 20%;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    text-shadow: 2px 2px 3px black;
}
#about-btn {
    width: 100px;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border-color: #472519;
    background: #562310;
    color: #fff;
    cursor: pointer;
    margin-right: 8px;
}
#about-btn:hover {
    background: #391001;
}
#product-btn {
    width: 100px;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border-color: #472519;
    background: #562310;
    color: #fff;
    cursor: pointer;
    margin-top: 2px;
}
#product-btn:hover {
    background: #391001;
}

@media (max-width: 420px) {
    .main-content {
        position: fixed;
        top: 15%;
        right: 15%;
        width: 70%;
    }
}
@media (max-width: 375px) {
    .main-content {
        position: fixed;
        top: 15%;
        right: 10%;
        width: 80%;
    }
}


.container {
    justify-content: space-between;
    position: fixed;
    bottom: 2%;
    color: #fff;
}
.ul-socmed {
    position: fixed;
    right: 3%;
    overflow: hidden;
}
.li-socmed {
    display: inline-block;
}
.copy-right {
    position: fixed;
    left: 3%;
}

